[Unit]
Description=FRC Enable Key Program
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/pi/headless-ds.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
